<ion-content>
  <ion-slides pager >
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="people-outline" size="large"></ion-icon>
            <ion-icon name="cash-outline" size="large"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3 style="color: #42d77d">Willkommen!</h3>
            <p>Unsere App ermöglicht Ihnen schnell und einfach Ausgaben und Einnahmen mit Ihren Freunden fair aufzuteilen</p>
            <ion-buttons (click)="router.navigate(['profile'])" class="ion-justify-content-center ion-margin-top">
              <ion-button color="primary" fill="solid">
                Tutorial Überspringen
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6" offset="3">
            <ion-img src="../../assets/tutorial/Profil.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Schritt 1:</p>
            <p>Wenn Sie auf Ihrem Profil oben links auf das Icon klicken dann gelangen Sie zu Ihrer Freundesliste</p>
            <p>Dort können Sie neue Freunde mit der Email-Adresse hinzufügen, wie z.B. den andi@web.de</p>
            <ion-buttons (click)="router.navigate(['profile'])" class="ion-justify-content-center ion-margin-top">
              <ion-button color="primary" fill="solid">
                Tutorial Überspringen
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6" offset="3">
            <ion-img src="../../assets/tutorial/Gruppenliste.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Schritt 2:</p>
            <p>Mit Ihren Freunden können Sie nun eine neue Gruppe erstellen</p>
            <p>Klicken Sie dafür auf das Plus Icon unten rechts</p>
            <ion-buttons (click)="router.navigate(['profile'])" class="ion-justify-content-center ion-margin-top">
              <ion-button color="primary" fill="solid">
                Tutorial Überspringen
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6" offset="3">
            <ion-img src="../../assets/tutorial/Transaktion.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Schritt 3:</p>
            <p>Mit Ihrer neuen Gruppe können Sie nun eine Transaktion erstellen</p>
            <p>Klicken Sie dafür in der Bodenleiste auf das Icon in der Mitte links</p>
            <p>In dem Formular können Sie nun oben Ihre Gruppe auswählen und den Rest nach Belieben ausfüllen</p>
            <ion-buttons (click)="router.navigate(['profile'])" class="ion-justify-content-center ion-margin-top">
              <ion-button color="primary" fill="solid">
                Tutorial Überspringen
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6" offset="3">
            <ion-img src="../../assets/tutorial/Transaktionsliste.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Super!</p>
            <p>Nun können Sie Ihre erstellte Transaktion auf Ihrer Startseite sehen</p>
            <p>Wenn ein Freund eine Transaktion mit Ihnen erstellt, dann sehen Sie das auch auf Ihrer Startseite</p>
            <p>Viel Spaß mit unserer App! :)</p>
            <ion-buttons (click)="router.navigate(['profile'])" class="ion-justify-content-center ion-margin-top">
              <ion-button color="primary" fill="solid">
                Fertig
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
