<ion-header>
  <ion-toolbar>
    <ion-title>Teilnehmer auswählen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text>Alle</ion-text>
    <ion-toggle [(ngModel)]="allSelected" (click)="toggleSelectAll()" slot="end"></ion-toggle>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let participant of participation">
      <ion-avatar slot="start">
        <img [src]="sanitizer.bypassSecurityTrustUrl(participant.user.profilePic)">
      </ion-avatar>
      <ion-text>{{participant.user.displayName}}</ion-text>
      <ion-toggle [(ngModel)]="participant.participates" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="handleSubmit()">
      <ion-icon *ngIf="fairlyDistributedCosts" name="checkmark"></ion-icon>
      <ion-icon *ngIf="!fairlyDistributedCosts" name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="router.navigate(['home'])">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
