<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backBttn()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="margin-right: 40px;">Freundes Profil</ion-title>
    <ion-button *ngif="!isfriend" slot="end" (click)="addFriend()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="global">
  <ion-grid class="grid">
    <ion-row class="row">
      <ion-col class="profileImgCol">
        <img class="profileImg" src={{user.profilePic}}>
      </ion-col>
      <ion-col class="profileDescriptionCol">
        <ion-row>
          <ion-col class="name">
            {{user.displayName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{user.description}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col class="iconsCol icons" *ngFor="let i of badges">
        <img class="icons" (click)="badgeDescription(i.name, i.description)" src={{i.image}}>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="redirect('home')">
          <ion-icon name="home-outline"></ion-icon>
          <ion-badge></ion-badge>
        </ion-tab-button>

        <ion-tab-button (click)="redirect('transaction')">
          <ion-icon name="cash-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="redirect('group')">
          <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </ion-toolbar>
</ion-footer>
