ion-content {
  background: beige;
  text-align: center;
  p {
    padding-top: 50px;
    font-size: 50px;
  }
  ion-label {
    font-size: 20px;
  }

  ion-input {
    border: solid 1px #0d0d0d;
    border-radius: 10px;
    width: 50%;
    margin: 10px auto;
  }
  ion-buttons {
    ion-button {
      border-radius: 10px;
    }
  }

}
