ion-content {
  text-align: center;
  .title {
    font-size: 30px;
    padding-top: 200px;
  }
  ion-input {
    border: solid 1px #0d0d0d;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
  }
}
