<ion-content>

  <p class="title">Neues Passwort senden</p>
  <ion-input type="text"
             placeholder="E-Mail Adresse"
             [(ngModel)]="email">
  </ion-input>
  <ion-buttons class="ion-justify-content-center">
    <ion-button (click)="this.authService.changePassword(this.email)"
                fill="solid"
                color="primary">
      Senden
    </ion-button>
  </ion-buttons>
  <ion-buttons class="ion-justify-content-center ion-margin-top">
    <ion-button (click)="this.navCtrl.back()"
                fill="solid"
                color="secondary">Zurück</ion-button>
  </ion-buttons>

</ion-content>
