
<ion-content>

  <p class="title">neues Passwort senden</p>
  <ion-label>E-mail</ion-label>
  <ion-input type="text"
             placeholder="e-mail adresse"
             [(ngModel)]="email">
  </ion-input>
  <ion-buttons class="ion-justify-content-center">
    <ion-button (click)="this.authService.changePassword(this.email)"
                fill="solid"
                color="primary">
      Senden
    </ion-button>
  </ion-buttons>
  <ion-buttons class="ion-justify-content-center">
    <ion-button (click)="this.router.navigate(['login'])"
                fill="solid"
                color="secondary">zurück</ion-button>
  </ion-buttons>

</ion-content>
