<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backBtn()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Passwort ändern</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveBtn()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item class="passwordText" lines="none">Altes Passwort</ion-item>
    <ion-item>
      <ion-input type=password required=true placeholder="Passwort eingeben..." [(ngModel)]="oldPassword"></ion-input>
    </ion-item>

    <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"*ngIf="errors.get('oldPassword')">          {{errors.get('oldPassword')}}     </p>

    <ion-item class="passwordText" lines="none">Neues Passwort</ion-item>
    <ion-item>
      <ion-input type=password required=true placeholder="Passwort eingeben..." [(ngModel)]="newPassword1"></ion-input>
    </ion-item>

    <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"*ngIf="errors.get('newPassword1')">          {{errors.get('newPassword1')}}     </p>
    
    <ion-item class="passwordText" lines="none">Neues Passwort Wiederholen</ion-item>
    <ion-item>
      <ion-input type=password required=true placeholder="Passwort eingeben..." [(ngModel)]="newPassword2"></ion-input>
    </ion-item>

    <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)"*ngIf="errors.get('newPassword2')">          {{errors.get('newPassword2')}}     </p>

  </ion-list>
</ion-content>