<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backBtn()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="margin-right: 40px;">Freunde</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-input [(ngModel)]="addFriendInput" placeholder="Email eingeben.."></ion-input>
    <ion-button (click)="addFriend()">Hinzufügen</ion-button>
  </ion-item>
  <p class="ion-text-end ion-padding-end" style="color:var(--ion-color-danger)" *ngIf="errors.get('addFriendsOutput')">
    {{errors.get("addFriendsOutput")}}</p>

  <ion-list lines="full">
    <ion-item button *ngFor="let item of friends" (click)="friendBttn(item.id)">
      <ion-grid>
        <ion-row>
          <ion-col class="profileImgCol">
            <img class="profileImg" [src]="sanitizer.bypassSecurityTrustUrl(item.profilePic)">
          </ion-col>
          <ion-col style="margin-top: auto; margin-bottom: auto; margin-left: 20px;">
            {{item.displayName}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="router.navigate(['home'])">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['transaction-create'])">
          <ion-icon name="cash-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['group-list'])">
          <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['profile'])">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
