<ion-header>
  <ion-toolbar>
    <ion-button (click)="this.navCtrl.back()" fill="clear" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="group">
    <ion-label>Name</ion-label>
    <ion-input
      class="ion-text-end"
      [(ngModel)]="group.name"
      type="text"
      [disabled]="group.creator.id !== currentUser.id">
    </ion-input>
  </ion-item>
  <ion-item button (click)="viewMembers()">
    <ion-label>Mitglieder</ion-label>
  </ion-item>


  <ion-list>
    <ion-item button *ngFor="let transaction of groupTransactions" (click)="viewTransaction(transaction)" lines="full">
      <ion-grid style=" margin-bottom: 1%; margin-top: 1%; width: 100%; height: 100%;">
        <ion-row>
          <ion-col align="left"><ion-avatar><img src="{{transaction.creator.profilePic}}"></ion-avatar></ion-col>
          <ion-col>
            <div>{{transaction.purpose}}</div>
            <div style="font-size: small">{{transaction.creator.displayName}}</div>
          </ion-col>
          <ion-col align="right" >{{transaction.amount}}€</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-buttons style="margin-top: 50px; justify-content: center">
    <ng-container *ngIf="group && currentUser.id === group.creator.id">
      <ion-button color="danger" style="margin-right: 20px" (click)="this.delete()">
        <ion-icon name="trash-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button color="primary" style="margin-left: 20px" (click)="this.update()">
        <ion-icon name="save-outline" size="large"></ion-icon>
      </ion-button>
    </ng-container>

  </ion-buttons>
</ion-content>
