<ion-header>
  <ion-toolbar>
    <ion-button (click)="this.navCtrl.back()" fill="clear" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="group">
    <ion-label>Name</ion-label>
    <ion-input
      class="ion-text-end"
      [(ngModel)]="group.name"
      type="text"
      [disabled]="group.creator.id != currentUser.id">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Mitglieder:</ion-label>
    <ion-button (click)="this.addMembers()" *ngIf="group && currentUser.id === group.creator.id">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list *ngIf="group">
    <ion-item *ngFor="let member of group.members">
      <ion-label class="ion-text-center" *ngIf="member.id == group.creator.id">{{member.displayName}}  (Admin)</ion-label>
      <ion-label class="ion-text-center" *ngIf="member.id != group.creator.id">{{member.displayName}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-buttons style="margin-top: 50px; justify-content: center">
    <ng-container *ngIf="group && currentUser.id == group.creator.id">
      <ion-button color="danger" style="margin-right: 20px" (click)="this.delete()">
        <ion-icon name="trash-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button color="primary" style="margin-left: 20px" (click)="this.update()">
        <ion-icon name="save-outline" size="large"></ion-icon>
      </ion-button>
    </ng-container>

  </ion-buttons>
</ion-content>
