<ion-header>
  <ion-toolbar>
    <ion-title>{{transaction.purpose}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="people"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="attach"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-item>
    <ion-label>Gruppe</ion-label>
    <ion-text class="ion-text-right">{{ transaction.group.name }}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Typ</ion-label>
    <ion-text class="ion-text-right">{{ transaction.type}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Betrag</ion-label>
    <ion-text class="ion-text-right">{{ transaction.amount}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Ersteller</ion-label>
    <ion-text class="ion-text-right">{{ transaction.creator ? transaction.creator.displayName : transaction.creator.userName}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Rechnungsdatum</ion-label>
    <ion-text class="ion-text-right">{{ transaction.purchaseDate}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Fälligkeitsdatum</ion-label>
    <ion-text class="ion-text-right">{{ transaction.dueDate}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Rhythmus</ion-label>
    <ion-text class="ion-text-right">{{ transaction.rhythm}}</ion-text>
  </ion-item>
  <ion-button>Bezahlen</ion-button>
</ion-content>
