<ion-header>
  <ion-toolbar>
    <ion-title>{{transaction.purpose}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="people"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="attach"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-item>
    <ion-text>Gruppe</ion-text>
    <ion-text>{{transaction.group.name}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text>Typ</ion-text>
    <ion-text>{{transaction.type}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text>Betrag</ion-text>
    <ion-item>{{transaction.amount}}</ion-item>
  </ion-item>
  <ion-item>
    <ion-text>Ersteller</ion-text>
    <ion-text>{{transaction.creator}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text>Rechnungsdatum</ion-text>
    <ion-text>{{transaction.purchaseDate}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text>Fälligkeitsdatum</ion-text>
    <ion-text>{{transaction.dueDate}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text>Rhythmus</ion-text>
    <ion-text>{{transaction.rhythm}}</ion-text>
  </ion-item>
  <ion-button>Bezahlen</ion-button>
</ion-content>
