.profileImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profileImgCol{
    max-width: 110px;
}

.profileDescriptionCol{
    max-width: 300px;
    margin-left: 10px;
    //margin-right: auto;
}

.grid{
    margin-top: 20px;
}

.name{
    font-weight: bold;
}

.icons{
    max-width: 50px;
    max-height: 50px;
}

.iconsCol{
    margin-top: 10px;
}

.row{
    justify-content: center;
}