<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="friendlist()">
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="friendlist()">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Profil</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="profileSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="loggout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="global">
  <ion-grid class="grid">
    <ion-row class="row">
      <ion-col class="profileImgCol">
        <img class="profileImg" [src]="sanitizer.bypassSecurityTrustUrl(user.profilePic)">
      </ion-col>
      <ion-col class="profileDescriptionCol">
        <ion-row>
          <ion-col class="name">
            {{user.displayName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{user.description}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px; justify-content: center;">
      <ion-col *ngIf="this.user.cash" style="max-width: 50px; margin-right: 30px;"><img
          (click)="paymentDescription('Bar', 'Barzahlung ist möglich.')"
          src="https://cdn.discordapp.com/attachments/798632008569061446/859421641096560650/money.png"></ion-col>
      <ion-col *ngIf="this.user.ec_card" style="max-width: 50px; margin-right: 30px;"><img
          (click)="paymentDescription('EC-Karte', 'Bezahlung mit EC-Karte ist möglich.')"
          src="https://image.flaticon.com/icons/png/512/893/893081.png"></ion-col>
      <ion-col *ngIf="this.user.kreditcard" style="max-width: 50px; margin-right: 30px;"><img
          (click)="paymentDescription('Kreditkarte', 'Bezahlung mit Kreditkarte ist möglich.')"
          src="https://image.flaticon.com/icons/png/512/147/147258.png"></ion-col>
      <ion-col *ngIf="this.user.paypal" style="max-width: 50px;"><img
          (click)="paymentDescription('PayPal', 'Bezahlung mit PayPal ist möglich.')"
          src="https://image.flaticon.com/icons/png/512/888/888870.png"></ion-col>

      <ion-col *ngIf="!this.user.cash" style="max-width: 50px; margin-right: 30px;"><img
          style="filter: grayscale(100%);" (click)="paymentDescription('Bar', 'Barzahlung ist nicht möglich.')"
          src="https://cdn.discordapp.com/attachments/798632008569061446/859421641096560650/money.png"></ion-col>
      <ion-col *ngIf="!this.user.ec_card" style="max-width: 50px; margin-right: 30px;"><img
          style="filter: grayscale(100%);"
          (click)="paymentDescription('EC-Karte', 'Bezahlung mit EC-Karte ist nicht möglich.')"
          src="https://image.flaticon.com/icons/png/512/893/893081.png"></ion-col>
      <ion-col *ngIf="!this.user.kreditcard" style="max-width: 50px; margin-right: 30px;"><img
          style="filter: grayscale(100%);"
          (click)="paymentDescription('Kreditkarte', 'Bezahlung mit Kreditkarte ist nicht möglich.')"
          src="https://image.flaticon.com/icons/png/512/147/147258.png"></ion-col>
      <ion-col *ngIf="!this.user.paypal" style="max-width: 50px;"><img style="filter: grayscale(100%);"
          (click)="paymentDescription('PayPal', 'Bezahlung mit PayPal ist nicht möglich.')"
          src="https://image.flaticon.com/icons/png/512/888/888870.png"></ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="iconsCol icons" *ngFor="let i of badges">
        <img class="icons" (click)="badgeDescription(i.name, i.description)" src={{i.image}}>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 20px; justify-content: center;">
      <ion-col>
        <ion-button (click)="changeStats(1)">1 Tag</ion-button>
        <ion-button (click)="changeStats(7)">1 Woche</ion-button>
        <ion-button (click)="changeStats(30)">1 Monat</ion-button>
        <ion-button (click)="changeStats(90)">3 Monate</ion-button>
        <ion-button (click)="changeStats(180)">6 Monate</ion-button>
        <ion-button (click)="changeStats(365)">1 Jahr</ion-button>
        <ion-button (click)="changeStats(-1)">Gesamt</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Einnahmen: {{income}}€</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Ausgaben {{outcome}}€</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Selbst angelegt: {{self}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="router.navigate(['home'])">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['transaction-create'])">
          <ion-icon name="cash-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['group-list'])">
          <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>