<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backBtn()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Einstellungen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveBtn()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="asd">
  <ion-grid>
    <ion-row>
      <ion-col class="profileImgCol">
        <img (click)="profileImageChange()" class="profileImg" src={{user.profilePic}}>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input maxlength=20 [(ngModel)]="user.displayName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-textarea class="description" maxlength=160 rows=5 [(ngModel)]="user.description"></ion-textarea>
  
  <ion-list lines="full">
    <ion-item button (click)="payment()">Zahlungsmittel</ion-item>
    <ion-item button (click)="passwordchange()">Passwort ändern</ion-item>
    <ion-item button (click)="privacy()">Privatsphäre Einstellungen</ion-item>
  </ion-list>


</ion-content>