<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="router.navigate(['profile']);">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="margin-right: 40px;">Statistiken</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label>Zeitraum</ion-label>
    <ion-select #C value="30" placeholder="Zeitraum wählen" (ionChange)="changeStats(C.value)">
      <ion-select-option value="1">1 Tag</ion-select-option>
      <ion-select-option value="7">1 Woche</ion-select-option>
      <ion-select-option value="30">1 Monat</ion-select-option>
      <ion-select-option value="90">3 Monate</ion-select-option>
      <ion-select-option value="180">6 Monate</ion-select-option>
      <ion-select-option value="365">1 Jahr</ion-select-option>
      <ion-select-option value="-1">Gesamt</ion-select-option>
    </ion-select>
  </ion-item>


  <!-- <ion-card color="danger">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Einnahmen = {{income}}€</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Ausgaben = {{outcome}}€</ion-card-title>
    </ion-card-header>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{self}} Selbst angelegte Transaktionen!</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Einnahmen und Ausgaben</ion-card-title>
    </ion-card-header>    
    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="router.navigate(['home'])">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['transaction-create'])">
          <ion-icon name="cash-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['group-list'])">
          <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>