
<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!searchbarVisible">Übersicht</ion-title>
    <ion-button *ngIf="!searchbarVisible" (click)="startSearch()" slot="end">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-searchbar [(ngModel)]="search" *ngIf="searchbarVisible"
                   (ionChange)="doSearch()"
                   (ionCancel)="cancelSearch()"
                   (ionClear)="clearSearch()"
                   [showCancelButton]="true"
                   [showClearButton]="true"
                   placeholder="Suche">
    </ion-searchbar>
  </ion-toolbar>
  <ion-grid>
    <ion-row class="ion-justify-content-evenly">
      <ion-col class="ion-no-padding">
        <ion-button expand="full" (click)="buttonHandler(0); filterTransaction(this.search)">
          <ion-text></ion-text>
          <ion-text>{{outgoing}}€ Ausgaben</ion-text>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button expand="full" (click)="buttonHandler(1); filterTransaction(this.search)">{{incoming}}€ Einnahmen</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button expand="full" (click)="buttonHandler(2); filterTransaction(this.search)">{{pending}} Ausstehend</ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button expand="full" (click)="buttonHandler(3); filterTransaction(this.search)">{{confirm}} Bestätigen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-refresher id="refresher" slot="fixed" pullFactor="0.3" (ionRefresh)="refreshHandler($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      pullingIcon="chevron-down-circle-outline"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="!confirmView">
    <ion-item-sliding *ngFor="let transaction of filteredTransactions">
      <ion-item-options side="end" *ngIf="incomingView || pendingView">
        <ion-item-option color="primary" (click)="createPaymentReminder(transaction)">
          <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item button
                (click)="viewTransaction(transaction.id, transaction.otherUser.id)" lines="full">
        <ion-grid style=" margin-bottom: 1%; margin-top: 1%; width: 100%; height: 100%;">
          <ion-row>
            <ion-col align="left"><ion-avatar><img [src]="sanitizer.bypassSecurityTrustUrl(transaction.otherUser.profilePic)"></ion-avatar></ion-col>
            <ion-col>
              <div>{{transaction.otherUser.displayName}}</div>
              <div style="font-size: small">{{transaction.purpose}}</div>
              <div style="font-size: small; color: darkred" *ngIf = "getDateDifference(transaction) < 0">fällig seit {{-1*getDateDifference(transaction)}} Tagen</div>
              <div style="font-size: small; color: darkred" *ngIf = "getDateDifference(transaction) <= 1.5 && getDateDifference(transaction) >= 0">noch {{getDateDifference(transaction)}} Tag</div>
              <div style="font-size: small; color: coral"  *ngIf = "getDateDifference(transaction) <= 4 && getDateDifference(transaction) > 1.5">noch {{getDateDifference(transaction)}} Tage</div>
              <div style="font-size: small" *ngIf = "getDateDifference(transaction) > 4">noch {{getDateDifference(transaction)}} Tage</div>
            </ion-col>
          <ion-col align="right"><ion-text>{{transaction.amount}}€</ion-text></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="confirmView">
    <ion-item button *ngFor="let transaction of filteredTransactions" lines="full"
              (click)="confirmDialog(transaction.id, transaction.otherUser.id, transaction.otherUser.displayName)">
      <ion-grid style=" margin-bottom: 1%; margin-top: 1%; width: 100%; height: 100%;">
        <ion-row>
          <ion-col align="left"><ion-avatar><img [src]="sanitizer.bypassSecurityTrustUrl(transaction.otherUser.profilePic)"></ion-avatar></ion-col>
          <ion-col>
            <div>{{transaction.otherUser.displayName}}</div>
            <div style="font-size: small">{{transaction.purpose}}</div>
          </ion-col>
          <ion-col align="right"><ion-text>{{transaction.amount}}€</ion-text></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button>
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['transaction-create'])">
          <ion-icon name="cash-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['group-list'])">
          <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="router.navigate(['profile'])">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
