<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <button (click)="add()">ADD</button>
  <ion-list>
    <h2>Open Bill</h2>
    <ion-item *ngFor="let person of openBill">
      <p>UID: {{person.id}}</p>
      <p>TID: {{person.tid}}</p>
      <button (click)="delete(person)">delete</button>
    </ion-item>
  </ion-list>
  <ion-list>
    <h2>pending Bill</h2>
    <ion-item *ngFor="let person of pendingBill">
      <p>UID: {{person.id}}</p>
      <p>TID: {{person.tid}}</p>
      <button (click)="delete(person)">delete</button>
    </ion-item>
  </ion-list>
  <ion-list>
    <h2>not Confirmed</h2>
    <ion-item *ngFor="let person of notConfirmed">
      <p>UID: {{person.id}}</p>
      <p>TID: {{person.tid}}</p>
      <button (click)="delete(person)">delete</button>
    </ion-item>
  </ion-list>
  <ion-list>
    <h2>to Confirm</h2>
    <ion-item *ngFor="let person of toConfirm">
      <p>UID: {{person.id}}</p>
      <p>TID: {{person.tid}}</p>
      <button (click)="delete(person)">delete</button>
    </ion-item>
  </ion-list>
</ion-content>
